/* add inter font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
  box-sizing: border-box;
}

.HomeCard {
  padding: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  gap: 72px;
  background-color: #211F2B;
  color: #FFF;
  /* 25.6px */
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  /* 102.4px */
}

h2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}