/* add inter font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
}

body {
  gap: 72px;
  background-color: #211F2B;
  color: #FFF;
  /* 25.6px */
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  /* 102.4px */
}

h2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}